<!-- views/accessDenied.ejs -->
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Akses Ditolak</title>
    <link rel="stylesheet" href="/accessdeniedstyles.css">
</head>
<body>
    <div class="access-denied-container">
        <h1>Anda tidak bisa mengakses ini</h1>
        <p>Silahkan kembali ke <a href="<%= returnUrl %>">halaman sebelumnya</a></p>
    </div>
</body>
</html>
