<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Tipe HB</title>
    <link rel="stylesheet" href="/stylesadmin.css">
</head>
<body>
    <h1>Add Tipe HB</h1>
    <form action="/admin/tipe_hb/add" method="post">
        <label for="nama_tipe">HB Type:</label>
        <input type="text" id="nama_tipe" name="nama_tipe" required>
        <button type="submit">Add</button>
    </form>
    <button onclick="window.location.href='/admin';">Cancel</button>
</body>
</html>
